body 
{
  background-color:#F0EBCE;
}
hr 
{
  size:5px;
  color:#AA8B56;
  border-style: dotted none none none;
  height:0;
  width:15%;
  border-width:5px;
}
.wrapper
{
  height:30%;
  display: flex;
  align-items:center;
  justify-content:center;
}
h1
{
  color: #AA8B56;
}
h3
{
  color:#4E6C50;
}
h2
{
  color:#4E6C50;
}